@model AppResult<UserLoginDTO>;
@{
	var Password = Model.Result.Password;
	var Username = Model.Result.Username;
}
<div class="row">
	<div class="col text-center">
		<form class="form-signin" method="post">
			<img class="mb-4" src="~/images/bug_tracker_icon.jpg" alt="bug tracker icon" width="72" height="72">
			<label asp-for="@Username" class="sr-only"></label>
			<input asp-for="@Username" type="text" class="form-control">
			<label asp-for="@Password" class="sr-only">Password</label>
			<input asp-for="@Password" type="password" class="form-control">
			<a asp-action="Register">New? Register here.</a>
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			@if (!Model.Success)
			{
				<div class="alert alert-danger" role="alert">
					@Model.Message
				</div>
			}
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>
</div>